<div class='row'>
  <div class="twelve columns">
    <h1>Sign up</h1>

    <%= render partial: 'layouts/partials/flash', locals: { flash: flash } %>

    <%= form_for @user, url: signup_post_url do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'u-full-width' %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'u-full-width' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'u-full-width' %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'u-full-width' %>

      <%= render partial: 'layouts/partials/recaptcha' %>

      <%= f.submit 'Submit', class: 'signup-submit' %>
    <% end %>
  </div>
</div>
