<div class='row'>
  <div class="twelve columns">
    <%= render 'layouts/partials/champion_header' %>
  </div>
</div>
<div class='row'>
  <div class="twelve columns">
    <div class="skin-body">
      <div class="skin-body-left">
        <div class="skin-body-left-image">
          <%= image_tag(@skin.loading_img_url, alt: @skin.name, width: '260px') %>
        </div>
        <%= render partial: 'layouts/partials/skin_ownit_wantit' %>
      </div>
      <div class="skin-body-right">
        <h1>Details</h1>

        <ul>
          <li>Name: <%= @skin.name %></li>
        </ul>

        <h1>Reviews</h1>

        <div class='rating-stars'>
          <div class='rating-star sr-1'></div>
          <div class='rating-star sr-2'></div>
          <div class='rating-star sr-3'></div>
          <div class='rating-star sr-4'></div>
          <div class='rating-star sr-5'></div>
        </div>

        <%- unless @review.id %>
          <%= render partial: 'layouts/partials/flash', locals: { flash: flash } %>

          <%= form_for @review, url: reviews_path, method: :POST do |f| %>
            <%= f.hidden_field :skin_id %>
            <%= f.label :title, 'Title' %>
            <%= f.text_field :title, class: 'u-full-width' %>
            <%= f.label :long_form, 'Review' %>
            <%= f.text_area :long_form, class: 'u-full-width' %>
            <%= f.submit 'Submit' %>
          <% end %>
        <% end %>

        <%- @reviews.each do |review| %>
          <%- if review.id %>
            <%= render partial: 'layouts/partials/review', locals: { review: review } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  var GLOBAL = <%= @global.to_json.html_safe %>
</script>
