<div class='row'>
  <div class="twelve columns">
    <h1>Edit review</h1>

    <%= render partial: 'layouts/partials/flash', locals: { flash: flash } %>

    <%= form_for @review, url: review_path, method: :PUT do |f| %>
      <%= f.hidden_field :skin_id %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'u-full-width' %>
      <%= f.label :long_form, 'Review' %>
      <%= f.text_area :long_form, class: 'u-full-width' %>
      <%= f.submit 'Submit' %>
    <% end %>
  </div>
</div>
