<div class='skin-review'>
  <div class='skin-review-header'>
    <div class='skin-review-header-title text-bold'>
      <%= review.title %>
      <!-- TODO: ratings -->
    </div>
    <div class='skin-review-header-rating'></div>
  </div>
  <div class='skin-review-desc'>
    by <%= review.user.username %> on <%= review.created_at.to_formatted_s(:long) %>
  </div>

  <%- if review.rating %>
    <%= review.rating.score %> / 5
  <% end %>

  <div class='skin-review-body'>
    <div class='skin-review-body-long-form'>
      <%= review.long_form %>
    </div>
  </div>
  <div class='skin-review-footer'>
    <%- if review.user == current_user %>
      <%= link_to 'Edit', edit_review_path(review) %>
      |
      <%= link_to 'Delete', review_path(review),
        method: :DELETE, data: { confirm: 'Are you sure you want to delete the review?' } %>
    <% else %>
      <div class='skin-review-footer-helpful'>
        <!-- TODO: helpful -->
        <div class='skin-review-footer-helpful-blurb'>
          <%= review.total_helpfuls.count %>
          of
          <%= review.total_up_helpfuls.count %>
          people found this helpful! Did you find this helpful?
        </div>
        <div class='skin-review-footer-helpful-button skin-review-footer-helpful-yes'
          data-review-id='<%= review.id %>' data-upvote='1'>Yes</div>
        <div class='skin-review-footer-helpful-button skin-review-footer-helpful-no'
          data-review-id='<%= review.id %>' data-upvote='0'>No</div>
      </div>
      <div class='skin-review-footer-helpful-thankyou hide'>
        Thank you for your feedback.
      </div>
      <div class='skin-review-footer-report'>
        <!-- TODO: report -->
        Report
      </div>
    <% end %>
  </div>
</div>
