<div class='row'>
  <div class="twelve columns">
    <div class='champion-header'>
      <div class='champion-header-name'>
        <h1><%= @champion.name %></h1>
        <p><%= @champion.title %></p>
      </div>
      <div class='champion-header-image'>
        <%= image_tag(@champion.tile_img_url, alt: @champion.name) %>
      </div>
    </div>

    <div class='champion-skins'>
      <%- @champion.skins.each do |skin| %>
        <div class='champion-skin'>
          <div class='champion-skin-img'>
            <%= link_to image_tag(skin.loading_img_url, alt: skin.name), '#' %>
          </div>
          <div class='champion-skin-name'>
            <%= link_to skin.name, '#' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
