<div class='row'>
  <div class="twelve columns">
    <h1>Profile</h1>
    <ul>
      <li><%= current_user.username %></li>
      <li><%= current_user.email %></li>
    </ul>
  </div>
</div>
<div class='row'>
  <div class="twelve columns">
    <h1>Reviews and Ratings</h1>
    <%- @reviews.each do |review| %>
      <%- if review.id %>
        <div class='row'>
          <div class='two columns'>
            <%= link_to image_tag(review.skin.loading_img_url, alt: review.skin.name, width: '90%'), skin_path(review.skin) %>
          </div>
          <div class='ten columns'>
            <%= render partial: 'layouts/partials/review', locals: { review: review } %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%- @ratings.each do |rating| %>
      <%- if rating.id && !rating.review_id %>

        <div class='row'>
          <div class='two columns'>
            <%= link_to image_tag(rating.skin.loading_img_url, alt: rating.skin.name, width: '90%'), skin_path(rating.skin) %>
          </div>
          <div class='ten columns'>
            <div class='static-small-rating-stars'>
              <% rating.score.times do %>
                <div class='static-small-rating-star-empty filled'></div>
              <% end %>
              <% (5 - rating.score).times do %>
                <div class='static-small-rating-star-empty'></div>
              <% end %>
            </div>
          </div>
        </div>


      <% end %>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class="twelve columns">
    <h1>Owned Skins</h1>
    <%- @ownits.each do |ownit| %>
      <p><%= ownit.inspect %></p>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class="twelve columns">
    <h1>Wanted Skins</h1>
    <%- @wantits.each do |wantit| %>
      <p><%= wantit.inspect %></p>
    <% end %>
  </div>
</div>
