<div class='row'>
  <div class="twelve columns">
    <h1>Profile</h1>
    <ul>
      <li><%= current_user.username %></li>
      <li><%= current_user.email %></li>
    </ul>
  </div>
</div>
<div class='row'>
  <div class="twelve columns">
    <h1>Reviews</h1>
    <%- @reviews.each do |review| %>
      <%- if review.rating %>
        <%= review.rating.inspect %>
      <% end %>
      <%- if review.id %>
        <%= render partial: 'layouts/partials/review', locals: { review: review } %>
      <% end %>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class="twelve columns">
    <h1>Ratings</h1>
    <%- @ratings.each do |rating| %>
      <p><%= rating.inspect %></p>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class="twelve columns">
    <h1>Owned Skins</h1>
    <%- @ownits.each do |ownit| %>
      <p><%= ownit.inspect %></p>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class="twelve columns">
    <h1>Wanted Skins</h1>
    <%- @wantits.each do |wantit| %>
      <p><%= wantit.inspect %></p>
    <% end %>
  </div>
</div>
