<!DOCTYPE html>
<html>
<head>
  <title>SkinShowcase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='row nav-header'>
      <div class="three columns">
        <h1>
          <%= link_to 'SkinShowcase', root_url %>
        </h1>
      </div>

      <%- if logged_in? %>
        <div class="seven columns">
          -
        </div>
        <div class="one columns">
          <%= link_to 'Settings', settings_url %>
        </div>
        <div class="one columns">
          <%= link_to 'Sign out', sign_out_url, method: :delete %>
        </div>
      <% else %>
        <div class="seven columns">
          -
        </div>
        <div class="one columns">
          <%= link_to 'Sign up', signup_url %>
        </div>
        <div class="one columns">
          <%= link_to 'Sign in', signin_url %>
        </div>
      <% end %>
    </div>
    <div class='row'>
      <div class="twelve columns">
        <%= current_user %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
