<!DOCTYPE html>
<html>
<head>
  <title>SkinShowcase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85019590-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body class='site'>
  <div class='container site-content'>
    <div class='row nav-header'>
      <div class="three columns">
        <%= link_to 'SkinShowcase', root_url, class: 'logo' %>
      </div>
      <div class='one columns'>
        <%= link_to 'Champions', champions_path %>
      </div>
      <div class='two columns'>
        <%= form_for Search.new, url: search_index_path, method: :POST, html: { class: 'nav-header-search' } do |f| %>
          <%= f.text_field :content, placeholder: 'Search', value: @query %>
        <% end %>
      </div>

      <%- if logged_in? %>
        <div class="three columns">
        </div>
        <div class="one columns">
          <%= link_to 'Profile', profile_url %>
        </div>
        <div class="one columns">
          <%= link_to 'Settings', settings_url %>
        </div>
        <div class="one columns">
          <%= link_to 'Sign out', sign_out_url, method: :delete %>
        </div>
      <% else %>
        <div class="four columns">
        </div>
        <div class="one columns">
          <%= link_to 'Sign up', signup_url %>
        </div>
        <div class="one columns">
          <%= link_to 'Sign in', signin_url %>
        </div>
      <% end %>
    </div>
    <div class='row'>
      <div class="twelve columns">
        <%= yield %>
      </div>
    </div>
  </div>
  <div class='footer'>
    <div class='container footer-content'>
      <div class='row'>
        <div class="two columns">
          <%= link_to 'SkinShowcase', root_url, class: 'logo-small' %>
        </div>
        <div class="eight columns">
        </div>
        <div class="one columns">
          <%= link_to 'About', about_url %>
        </div>
        <div class="one columns">
          <%= link_to 'Contact', contact_url %>
        </div>
      </div>
      <div class='row footer-fineprint text-center'>
        <div class="twelve columns">
          <p>
            Use of this site constitutes acceptance of our
            <%= link_to 'User Agreement', user_agreement_url %>
            and
            <%= link_to 'Privacy', privacy_url %>.
            <br />
            © 2016 Meanbean. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
