<!DOCTYPE html>
<html>
<head>
  <title>SkinShowcase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class="twelve columns nav-header">
        <h1>
          <%= link_to 'SkinShowcase', root_url %>
        </h1>
      </div>
    </div>
    <div class='row'>
      <div class="twelve columns">
        <%= current_user %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
