<!DOCTYPE html>
<html>
<head>
  <title>SkinShowcase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='site'>
  <div class='container site-content'>
    <div class='row nav-header'>
      <div class="three columns">
        <%= link_to 'SkinShowcase', root_url, class: 'logo' %>
      </div>
      <div class='one columns'>
        <%= link_to 'Champions', champions_path %>
      </div>

      <%- if logged_in? %>
        <div class="five columns">
        </div>
        <div class="one columns">
          <%= link_to 'Profile', profile_url %>
        </div>
        <div class="one columns">
          <%= link_to 'Settings', settings_url %>
        </div>
        <div class="one columns">
          <%= link_to 'Sign out', sign_out_url, method: :delete %>
        </div>
      <% else %>
        <div class="six columns">
        </div>
        <div class="one columns">
          <%= link_to 'Sign up', signup_url %>
        </div>
        <div class="one columns">
          <%= link_to 'Sign in', signin_url %>
        </div>
      <% end %>
    </div>
    <div class='row'>
      <div class="twelve columns">
        <%= yield %>
      </div>
    </div>
  </div>
  <div class='footer'>
    <div class='container footer-content'>
      <div class='row'>
        <div class="two columns">
          <%= link_to 'SkinShowcase', root_url, class: 'logo-small' %>
        </div>
        <div class="eight columns">
        </div>
        <div class="one columns">
          <%= link_to 'About', about_url %>
        </div>
        <div class="one columns">
          <%= link_to 'Contact', contact_url %>
        </div>
      </div>
      <div class='row footer-fineprint text-center'>
        <div class="twelve columns">
          <p>
            Use of this site constitutes acceptance of our
            <%= link_to 'User Agreement', user_agreement_url %>
            and
            <%= link_to 'Privacy', privacy_url %>.
            <br />
            © 2016 Meanbean. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
